:root {
	--primary-clr: #f5f5f5; /* used for background */
	--secondary-clr: #2E4052;
	--accent-clr: #FFC857;
	--primary-txt-clr: #212427;
	--secondary-txt-clr: gray;
}

@media (prefers-color-scheme: dark) {
	:root {
		--primary-clr: #11151c;
		--secondary-clr: #fff;
		--accent-clr: #f93943;
		--primary-txt-clr: #f5f5f5;
		--secondary-txt-clr: #bfbdc1;
	}
}

*, *::before, *::after {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	overflow-x: none;
	padding: 0;
	margin: 0;
	background: var(--primary-clr);
	color: var(--primary-txt-clr);
	font-family: 'Roboto Mono', sans-serif;
}

#stopwatchTicker {
	margin-bottom: 0;
}
#lapTicker {
	margin-top:0.5rem;
	color: var(--secondary-txt-clr);
}

.dividing-line {
	border: none;
	border-bottom: 1px solid #2E4052;
	width: 100%;
}

.dividing-line-2 {
	border: none;
	border-bottom: 1px solid #fff;
	width: 100%;
}

.container {
	width: min(80%, 70.5rem);
	margin-inline: auto;
}
.lap {
	list-style:none;
	padding:0;
	width: 100%;
	overflow-y: auto;
	height: 50vh;
}

.lap > :first-child > :first-child {
	color: var(--secondary-clr);
}

.lap__item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding:0;
}


main {
 display: flex;
	align-items: center;
	flex-direction: column;
}

.controls {
	background-color: var(--primary-clr);
	width: 100%;
	position: fixed;
	bottom: 0;
	height: 5rem;
	padding: 1rem;
	padding-bottom: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 3rem;
}

.controls__button {
	background: var(--accent-clr);
	color: var(--secondary-clr);
	border: none;
	border-radius: 100%;
	padding: 1rem;
	font-size: 1.25rem;
	transition: .25s;
}

.controls__button:hover {
	cursor: pointer;
	color: var(--accent-clr);
	background: var(--secondary-clr);
	transition: .25s;
}

.controls__button:disabled {
	background: gray;
	color: lightgray;
	cursor: not-allowed;
}